<!DOCTYPE html>
<html lang="ja">
  <head>
    <title><%= title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/switchcontrol.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.bundle.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/javascripts/background.js"></script>
    <script src="/javascripts/graph.js"></script>
  </head>
  <body>
    <div id="bg">
      <div id="bginner"></div>
    </div>
    <div class="container">
      <div id="generation">
        <div id="total-generation">
          <canvas id="chartallgen" class="chart" width="20vw",height="20vw"></canvas>
        </div>
      </div>
      <div id="battery">
        
      </div>
      <div id="consume">
        
      </div>
    </div>
  </body>
</html>
