* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#bg {
  width: 100vw;
  height: 100vh;
  background-size: cover;
  position: fixed;
  z-index: -10000;
  top: 0;
  left: 0;
}

#bginner {
  width: 100%;
  height: 100%;
  background-color: rgba(255,255,255,0.1);
}

#generation {
  position: absolute;
  left: 5vw;
  top: 20vh;
  width: 20vw;
  height: 60vh;
  border: solid 3px #f1c40f;
  background-color: rgba(255,255,255,0.7);
}